#companyname {
    position: top;
    flex: 0 0 content;

    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 60px;
    color: #34547A
}

#mainmenu :hover {
    text-decoration: underline;
}

#mainmenu {
    position: relative;
    display: flex;
    justify-content: center;
    font-family: Revalia;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-top: 10px;
    margin-right: 10px;
    font-family: 'Scheherazade New', serif;
}

.menu {
    text-decoration: none;
    color: black;
    padding: 4px;
    font-weight: bolder;
}

#h1 {
    border-radius: nullpx;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;

    color: #000000;
}

#feedback {
    /* НАПИСАТЬ */
    display: flex;
    justify-content: center;
    font-family: "Times";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    /* identical to box height */
}

#text {
    color: #140505;
    flex-direction: row;
    display: flex;
    flex: content;
    width: 75%;
    justify-content: center;
}

#footer {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: rgb(14, 13, 13);
    padding: 4px;
    font-weight: lighter;
    flex: 0 0 content;
}

#pic {
    width: 20px;
}